#js-app-container {

  .adventure-scene {

    .floors {
      overflow: scroll;
      overflow-x: hidden;
      width: var(--app-with-scroll-bar-width);
      height: 300px;
      .object-bar {
        border-top: 1px solid var(--color-text);
        cursor: pointer;
      }
    }

    .adventure-status {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      color: var(--color-background);
      background-color: var(--color-text);
    }

    .adventurer-status {
      height: 208px;
    }

    .buttons {
      position: relative;
      height: 72px;
      .button {
        position: absolute;
        box-sizing: border-box;
        top: 12px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        border: 2px solid  var(--color-text);
        border-radius: 4px;
        cursor: pointer;
        &.next-button {
          left: 72px;
          width: 216px;
          font-size: 21px;
        }
        &.config-button {
          right: 12px;
          width: 48px;
          .icon {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
