#js-app-container {

  .stage_selection-scene {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .partition {
      padding-left: 4px;
      height: 32px;
      line-height: 32px;
      font-size: 21px;
      font-family: 'Morris Roman';
    }

    .scenario-item {
      display: flex;
      height: 48px;
      font-family: 'Morris Roman';
      font-size: 15px;

      .side {
        height: 48px;

        &.left-side {
          width: 48px;
          .scenario-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
          }
        }
        &.right-side {
          width: calc(var(--app-width) - 48px);
          padding-left: 8px;

          ul {
            display: flex;
            justify-content: flex-start;
            height: 24px;
            line-height: 24px;
            font-size: 18px;
            li {
              margin-right: 10%;
            }
          }
          .scenario-name {
            height: 24px;
            line-height: 24px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
