@import 'sanitize.css';


/* Should sync to consts.STYLES */
:root {
  --app-height: 600px;
  --app-width: 360px;
  --color-background: #000000;
  --color-black-piece: #000000;
  --color-board: #22801f;
  --color-text: #ffffff;
  --color-white-piece: #ffffff;
  --icon-animation-margin: 4px;
  --icon-height: 32px;
  --icon-width: 32px;
  --navigation-bar-height: 48px;
  --reversi-piece-radius: 18px;
  --z-index-default: 1;
  --z-index-high: 2;

  /* Computed values */
  --animated-icon-width: calc(var(--icon-width) + var(--icon-animation-margin) * 2);
  --animated-icon-height: calc(var(--icon-height) + var(--icon-animation-margin) * 2);
}


body.development {
  height: 100%;
  background-color: #cccccc;
}


/*
 * Fonts
 */
@font-face {
  font-family: 'Morris Roman';
  src: url('materials/fonts/morris-roman/MorrisRoman-Black.ttf') format('truetype');
}


/*
 * Reset
 */
#js-app-container {
  ul, ol {
    list-style-type: none;
  }
}


/*
 * General
 */
#js-app-container {
  .hp-text {
    color: var(--color-background);
    text-shadow:
      -1px 0 var(--color-text),
      0 1px var(--color-text),
      1px 0 var(--color-text),
      0 -1px var(--color-text);
  }
}


/*
 * Screen, Scene, NavigationBar
 */
#js-app-container {
  margin: 10px auto;

  .screen {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    width: var(--app-width);
    height: var(--app-height);
    color: var(--color-text);
    background-color: var(--color-background);

    .scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
      .navigation-bar {
        position: absolute;
        display: flex;
        width: 100%;
        height: var(--navigation-bar-height);
        font-family: 'Morris Roman';
        .navigated-item {
          justify-content: space-between;
          width: 25%;
          height: var(--navigation-bar-height);
          line-height: var(--navigation-bar-height);
          font-size: 18px;
          text-align: center;
          cursor: pointer;
        }
      }
      .scene-except-navigation-bar {
        position: absolute;
        top: var(--navigation-bar-height);
        width: 100%;
        height: calc(var(--app-height) - var(--navigation-bar-height));
        h1 {
          margin-top: 4px;
          line-height: 48px;
          font-size: 28px;
          font-family: 'Morris Roman';
          color: black;
          background-color: white;
          text-align: center;
        }
      }
    }
  }
}


/*
 * Icon, AnimatedIcon
 */
#js-app-container .icon {
  width: var(--icon-width);
  height: var(--icon-height);
}
#js-app-container .animated-icon {
  position: relative;
  width: var(--animated-icon-width);
  height: var(--animated-icon-height);
  .text {
    position: absolute;
    width: var(--animated-icon-width);
    height: var(--animated-icon-height);
    line-height: var(--animated-icon-height);
    z-index: var(--z-index-high);
    font-size: 12px;
    /*
     * TODO: Can not keep centering for overflowed text
     *       Ref) http://stackoverflow.com/questions/6618648/can-overflow-text-be-centered
     */
    text-align: center;
    color: var(--color-background);
    text-shadow:
      -1px 0 var(--color-text),
      0 1px var(--color-text),
      1px 0 var(--color-text),
      0 -1px var(--color-text);
    &.text-hp-delta {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .icon-container {
    position: absolute;
    top: var(--icon-animation-margin);
    left: var(--icon-animation-margin);
    width: var(--icon-width);
    height: var(--icon-height);
    .flip-icon-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: var(--z-index-default);
    }
    .hp {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      text-align: right;
    }
  }
}


/*
 * Board, Square
 */
#js-app-container .board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 360px;
  background-color: var(--color-board);
  .board-inner {
    position: relative;
    width: 338px;  /* = 40 * 8 + 2 * 9 */
    height: 338px;
    background-color: #cccccc;
    .square {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: var(--color-board);
      cursor: pointer;
      &.black-piece {
        background-color: var(--color-black-piece);
      }
      &.white-piece {
        background-color: var(--color-white-piece);
      }
      &.suggested-piece {
        border-style: dashed;
        border-width: 2px;
        &.suggested-black-piece {
          border-color: var(--color-black-piece);
        }
        &.suggested-white-piece {
          border-color: var(--color-white-piece);
        }
      }
/*
      .reversi-piece-container {
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(var(--reversi-piece-radius) * 2);
        height: calc(var(--reversi-piece-radius) * 2);
      }
*/
    }
  }
}


@import './_game-scene.scss';
@import './_home-scene.scss';
@import './_stage_selection-scene.scss';
@import './_welcome-scene.scss';
