@import 'sanitize.css';


:root {
  --app-height: 600px;
  --app-width: 360px;
  --color-background: #000000;
  --color-board: #22801f;
  --color-negative: red;
  --color-neutral: #ffffff;
  --color-positive: lime;
  --color-text: #ffffff;
  --icon-animation-margin: 4px;
  --icon-height: 32px;
  --icon-width: 32px;
  --z-index-default: 1;

  /* Computed values */
  --animated-icon-width: calc(--icon-width) + var(--icon-animation-margin) + 2;
  --animated-icon-height: calc(--icon-height) + var(--icon-animation-margin) + 2;
}


body.development {
  height: 100%;
  background-color: #cccccc;
}


/*
 * Reset
 */
#js-app-container {
  ul, ol {
    list-style-type: none;
  }
}


/*
 * Screen
 */
#js-app-container {
  margin: 10px auto;

  .screen {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    width: var(--app-width);
    height: var(--app-height);
    color: var(--color-text);
    background-color: var(--color-background);

    .scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
    }
  }
}


/*
 * Icon, AnimatedIcon
 */
#js-app-container .icon {
  width: var(--icon-width);
  height: var(--icon-height);
}
#js-app-container .animated-icon {
  position: relative;
  width: var(--animated-icon-width);
  height: var(--animation-icon-height);
  .icon-container {
    position: absolute;
    top: var(--icon-animation-margin);
    left: var(--icon-animation-margin);
    width: var(--icon-width);
    height: var(--icon-height);
  }
}


/*
 * Board
 */
#js-app-container .board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 360px;
  background-color: var(--color-board);
  .board-inner {
    position: relative;
    width: 338px;  /* = 40 * 8 + 2 * 9 */
    height: 338px;
    background-color: #cccccc;
    .square {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: var(--color-board);
    }
  }
}


@import './_scenes.scss';
